.cost {
    color: var(--tg-link-color)
}

.market {
    text-decoration: underline;
    color: var(--tg-hint-color);
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%
}

.card-product {
    width: 48%;
    margin-bottom: 10px;
    background-color: var(--tg-secondary-bg-color);
}