.cost {
    color: var(--tg-link-color)
}

.market {
    text-decoration: underline;
    color: var(--tg-hint-color);
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%
}

.card-product {
    margin-bottom: 10px;
    background-color: var(--tg-secondary-bg-color);
    min-width: 300px;
    max-width: 88% !important;
    border-radius: 20px;
}

.marketplace {
    border-radius: 20px;
    padding: 8px 12px;

    p {
        margin: 0;
    }
}

.yamarket {
    background: linear-gradient(252.01deg, #FF4111 9.73%, #FFE133 64.27%);
    color: black;
}

.wb {
    background: linear-gradient(180deg, #6155F5 0%, #D139E5 100%);
    color: white;
}

.ozon {
    /*background-color: #005bff;*/
    background-image: url("/public/images/ozon_bg.png");
    background-size: cover;
    color: white;
}