name: Frontend Deploy

on:
  push:
    branches:
      - main
      - 'feature/**'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /var/www/gift/frontend
            
            echo "____Pulling latest changes____"
            git pull origin main

            echo "____Setting up environment____"
            export NVM_DIR="$HOME/.nvm"
            source "$NVM_DIR/nvm.sh"
            nvm use 22.18.0
            
            echo "____Frontend: installing and building____"
            npm install
            npm run non-type-build
            
            cp -r dist /var/www/gift/
